.body-section{
	margin-top: 35px;
}

.carousel-item > img{
	width: 100%;
	height: 450px;
}

.product-body{
	border: 1px solid gray;
	border-radius: 10px;
}

.product-body > .card-body > center > img{
	float: none;
	height: 200px;
	width: 200px;
	margin: 20px;
}

#wish-section{
	float: right;
	margin-top: -360px;
	margin-right: -15px;
}
#wish-section > img{
	height: 50px;
	width: 50px;
}

#wish-section1{
	float: right;
	margin-top: -330px;
	margin-right: -15px;
}
#wish-section1 > img{
	height: 50px;
	width: 50px;
}

#wish-section2{
	float: right;
	margin-top: -510px;
	margin-right: -20px;
}
#wish-section2 > img{
	height: 100px;
	width: 100px;
}

#add-cart-section{
	float: right;
	margin-top: -35px;
}

#add-cart-section > img{
	height: 70px;
	width: 70px;
}

#login-panel{
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

#login-button{
	background-color: transparent;
	border: none;
}

#link-section{
	margin-left: -160px;
}